<div class="messages-list">
  <% @messages.each do |message| %>
    <div class="message-summary <%= 'unread' if !message.read %>">
      <% if message.sender == current_user %>
        <p>To: <%= message.recipient.username %></p>
      <% else %>
        <p>From: <%= message.sender.username %></p>
      <% end %>
      <p><%= message.body.truncate(100) %></p>
      <% if message.conversation.present? %>
        <%= link_to 'View Conversation', conversation_path(message.conversation), class: 'view-conversation-link' %>
      <% else %>
        <span>Conversation not available</span>
      <% end %>
    </div>
  <% end %>
</div>