<div class="new-message-form">
  <h1>New Message</h1>
  <%= form_with(model: @message) do |form| %>
    <% if @message.recipient_id.present? %>
      <%= form.hidden_field :recipient_id %>
    <% else %>
      <%= form.hidden_field :recipient_id, value: params[:seller_id] %>
    <% end %>

    <%= form.text_area :body %>

    <%= form.submit "Send" %>
  <% end %>
</div>
