<h1>Conversation with <%= @conversation.other_party(current_user).username %></h1>

<div class="message-thread">
  <% @messages.each do |msg| %>
    <div class="message <%= 'sent' if msg.sender == current_user %> <%= 'received' if msg.sender != current_user %>">
      <% if msg.sender == current_user %>
        <p>To: <%= msg.recipient.username %></p>
      <% else %>
        <p>From: <%= msg.sender.username %></p>
      <% end %>
      <p><%= msg.body %></p>
      <span><%= msg.created_at.strftime("%B %d, %Y at %I:%M%p") %></span>
    </div>
  <% end %>
</div>

<div id="message-form">
  <%= render 'messages/form', conversation: @conversation, message: @message %>
</div>
