<!DOCTYPE html>
<html>
<head>
  <title><%= @listing.title %> - Listing</title>
  <%= stylesheet_link_tag 'show_listing' %>
</head>
<body class="show-container">

<h1><%= @listing.title %></h1>

<div>
  <strong>Description:</strong>
  <%= @listing.description %>
</div>

<div>
  <strong>Price:</strong>
  <%= number_to_currency(@listing.price) %>
</div>

<div>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</div>

<div>
  <strong>Quantity:</strong>
  <%= @listing.quantity %>
</div>
<% if false #comments out block until images implemented %>
<div>
  <strong>Images:</strong>
  <% @listing.images.each do |image| %>
    <img src="<%= image.url %>" alt="Listing Image">
  <% end %>
</div>
<% end %>
<!-- Add more details as needed -->

<a href="<%= edit_listing_path(@listing) %>">Edit</a>
<a href="<%= listings_path %>">Back to listings</a>

</body>
</html>
