<div class="container">
  <div class="row">
    <div class="col-4">
      <!-- Sidebar for conversations -->
      <div class="list-group">
        <% current_user.conversations.each do |conversation| %>
          <%= link_to conversation_path(conversation), class: 'list-group-item list-group-item-action' do %>
            Conversation with <%= conversation.other_party(current_user).username %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-8">

      <!-- main chat area -->
      <div class="chat-messages">
        <% @messages.each do |message| %>
          <div class="chat-message <%= 'right' if message.sender == current_user %>">
            <%= message.body %>
          </div>
        <% end %>
      </div>
      <%= form_with(model: @message, url: conversation_messages_path(@conversation)) do |form| %>
        <%= form.text_area :body, class: 'form-control' %>
        <%= form.submit 'Send', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
