<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "profile" %>
</head>
<body class="profile-body">
<div class="user-information-box">
  <div class="user-details">
    <h1><%= @user.name %></h1>
    <p><%= @user.username %> | <%= @user.email %></p>
  </div>
  <div class="profile-picture">
    <img src="/path/to/profile_picture.jpg" alt="Profile Picture">
  </div>
  <p><%= @user.bio %></p>
  <%= button_to "Message", messages_path, method: :get %>
  <p>Account Created: <%= @user.created_at.strftime("%Y-%m-%d %H:%M:%S UTC") %></p>
</div>

<div class="active-listings">
  <h1>Active Listings</h1>
  <% @user.listings.each do |listing| %>
    <div class="listing">
      <h3><%= link_to listing.title, product_path(listing.product_id) %></h3>
      <p><%= listing.description %></p>
      <%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-primary' %>
      <%= button_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>
<div class="user-reviews">
  <h1>Reviews</h1>
</div>
</body>
</html>
