<html>
<%= stylesheet_link_tag "profile" %>
<%= button_to "Home", root_path, method: :get %>
<div class="user-information-box">
  <div style="float:left; width:fit-content;">
    <h1><%= @user.name %></h1>
    <p><%= @user.username %> | <%= @user.email %></p>
  </div>
  <div style="float:right;">
    <img src=~/profile_picture.jpg style="height: 128px; width: 128px;">
  </div>
  <div style="clear:both"></div>
  <p><%= @user.bio %></p>
  <%= button_to "Message", messages_path %>
  <p>Account Created: <%= @user.created_at %></p>
</div>

<body style="margin-top:10px">
<div style="float:left; width:70%; border-right: 5px solid maroon; margin-left: auto">
  <h1 style="text-align: center; text-decoration: underline;">Active Listings</h1>
  <% @user.listings.each do |listing| %>
    <div>
      <h3><%= link_to listing.title, listing_path(listing) %></h3>
      <p><%= listing.description %></p>
      <%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-primary' %>
      <%= button_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>

<div style="float:right; width: 29%">
  <h1 style="text-align: center; text-decoration: underline;"><%= link_to "Reviews", root_path %></h1>
</div>
<div style="clear:both"></div>
</body>
</html>