<html>
<%= stylesheet_link_tag "profile" %>

<div class="user-information-box">
  <div class="user-details">
    <h1><%= @user.name %></h1>
    <p><%= @user.username %> | <%= @user.email %></p>
  </div>
  <div class="profile-picture">
    <img src="/path/to/profile_picture.jpg">
  </div>
  <p><%= @user.bio %></p>
  <%= button_to "Message", messages_path %>
  <p>Account Created: <%= @user.created_at %></p>
</div>

<body class="profile-body">
<div class="active-listings">
  <h1><%= link_to "Active Listings", listings_path(user_id: @user.id) %></h1>
  <% @user.listings.each do |listing| %>
    <div class="listing">
      <h3><%= link_to listing.title, listing_path(listing) %></h3>
      <p><%= listing.description %></p>
      <%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-primary' %>
      <%= button_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>

<div class="user-reviews">
  <h1><%= link_to "Reviews", root_path %></h1>
</div>
</body>
</html>
