<%= form_with(model: @order, local: true) do |form| %>
  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>
  <div>
    <%= form.hidden_field :product_id, value: params[:product_id] %>
  </div>
  <%= form.submit "Place Order" %>
<% end %>