<!-- Edit Listing Container -->
<div class="edit-listing-container">
  <h2>Edit Listing</h2>

  <!-- Edit Listing Form -->
  <%= form_with(model: @product, local: true, url: product_path(@product), method: :patch, class: 'form-signup') do |f| %>

      <!-- Display Flash Notices -->
      <% if flash[:notice] %>
        <div class="flash-notice">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <!-- Name Field  -->
      <div class="field">
        <%= f.label "Title", class: 'label' %>
        <%= f.text_field :title, class: 'input', required: true %>
      </div>

      <!-- Price Field -->
      <div class="field">
        <%= f.label "Price", class: 'label' %>
        <%= f.text_field :price, class: 'input', required: true %>
      </div>

      <!-- Category Field -->
      <div class="field">
        <%= f.label "Category", class: 'label' %>
        <%= f.collection_select(:category_id, Category.all, :id, :name, required: true, class: 'select-field' )%>
      </div>

      <!-- Condition Field -->
      <div class="field">
        <%= f.label "Condition", class: 'label' %>
        <%= f.select :condition, options_for_select(["New", "Like New", "Good", "Fair", "Poor"]), required: true, class: 'select-field' %>
      </div>

      <!-- Description Field -->
      <div class="field">
        <%= f.label "Description", class: 'label' %>
        <%= f.text_area :description, class: 'input', required: true %>
      </div>

      <!-- Location Field -->
      <div class="field">
        <%= f.label "Location", class: 'label' %>
        <%= f.text_field :location, class: 'input', required: true %>
      </div>

      <!-- Submit Button -->
      <div class="actions">
        <%= f.submit "Edit Listing", class: 'button-signup' %>
      </div>
    <% end %>
    </div>