<!-- New Listing Container -->
<div class="create-listing-container unique-create-listing">
  <h2>Create Listing</h2>

  <!-- Create Listing Form -->
  <%= form_with(model: @product, local: true, url: products_path, method: :post, class: 'unique-form-signup') do |f| %>

    <!-- Display Flash Notices -->
    <% if flash[:notice] %>
      <div class="flash-notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <!-- Name Field  -->
    <div class="new-listing-field">
      <%= f.label "Title", class: 'unique-label' %>
      <%= f.text_field :title, class: 'unique-input', required: true %>
    </div>

    <!-- Price Field -->
    <div class="new-listing-field">
      <%= f.label "Price", class: 'unique-label' %>
      <%= f.text_field :price, class: 'unique-input', required: true %>
    </div>

    <!-- Category Field -->
    <div class="new-listing-field">
      <%= f.label "Category", class: 'unique-label' %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, required: true, class: 'unique-select-field' )%>
    </div>

    <!-- Condition Field -->
    <div class="new-listing-field">
      <%= f.label "Condition", class: 'unique-label' %>
      <%= f.select :condition, options_for_select(["New", "Like New", "Good", "Fair", "Poor"]), required: true, class: 'unique-select-field' %>
    </div>

    <!-- Description Field -->
    <div class="new-listing-field">
      <%= f.label "Description", class: 'unique-label' %>
      <%= f.text_area :description, class: 'unique-input', required: true %>
    </div>

    <!-- Location Field -->
    <div class="new-listing-field">
      <%= f.label "Location", class: 'unique-label' %>
      <%= f.text_field :location, class: 'unique-input', required: true %>
    </div>

    <!-- Submit Button -->
    <div class="new-listing-actions">
      <%= f.submit "Create Listing", class: 'unique-button-signup' %>
    </div>
  <% end %>
</div>

