<%= form_with(url: search_products_path, method: :get, local: true, class: "search-form") do |form| %>

  <!-- search fields -->
  <%= form.search_field :query, placeholder: "Search for products...", aria_label: "Search", class: "search-field" %>

  <!-- filter fields -->
  <%= form.label :category, 'Category', class: "filter-label" %>
  <%= form.select :category, options_for_select(['Electronics', 'Books', 'Clothing', 'Toys','Furniture'], selected: params[:category]), include_blank: true, class: 'filter-field' %>

  <%= form.label :condition, 'Condition', class: "filter-label" %>
  <%= form.select :condition, options_for_select(['New', 'Used'], selected: params[:condition]), include_blank: true, class: 'filter-field' %>

  <%= form.label :price_range, 'Price Range', class: "filter-label" %>
  <%= form.select :price_range, options_for_select(['$0 - $50', '$51 - $100', '$101+'], selected: params[:price_range]), include_blank: true, class: 'filter-field' %>

  <%= form.label :sort_by, 'Sort by' %>
  <%= form.select :sort_by, options_for_select({
                                                 'Newest' => 'newest',
                                                 'Best Selling' => 'best_selling',
                                                 'Price: Low to High' => 'price_low_to_high',
                                                 'Price: High to Low' => 'price_high_to_low',
                                                 'Featured' => 'featured',
                                               }, selected: params[:sort_by]), include_blank: true %>

  <%= form.submit "Filter Results", class: "filter-button" %>
<% end %>

<div class="products-container">
  <% if @products.any? %>
    <% @products.each do |product| %>
      <div class="product-item">
        <%= image_tag product.image if product.image.attached? %>
        <h3 class="product-title"><%= link_to product.title, product_path(product) %></h3>
        <p><%= product.description %></p>
        <span class="seller-name">Seller: <%= product.user.name %></span>
      </div>
    <% end %>
  <% else %>
    <p>No products found.</p>
  <% end %>
</div>
