<div class="page-product-detail">
  <div class="product-detail-container">
    <div class="product-detail-header">
      <h1><%= @product.title %></h1>
      <div class="seller-info">
        Listed by <%= link_to @product.user.name, user_path(@product.user), class: "seller-profile-link" %>
        | Condition: <%= @product.condition %>
      </div>
      <p class="product-location">Ships from: <%= @product.location %></p>
      <% if @seller_rating %>
        <p class="product-rating">Average Rating: <%= @seller_rating %> / 5</p>
      <% else %>
        <p class="product-rating">Product Rating: No ratings yet.</p>
      <% end %>
    </div>

    <div class="product-detail-image">
      <%= image_tag(@product.image) if @product.image.attached? %>
    </div>

    <div class="product-detail-info">
      <% if @product.auction_enabled %>
        <p class="auction-info">
          Auction starts at: <%= @product.auction_start_time.strftime("%B %e, %Y %I:%M %p") %>
          <br>
          Auction ends at: <%= @product.auction_end_time.strftime("%B %e, %Y %I:%M %p") %>
          <br>
          Starting Bid: <%= number_to_currency(@product.starting_bid) %>
          <% if @product.highest_bid.present? %>
            <br>
            Highest Bid: <%= number_to_currency(@product.highest_bid) %>
          <% end %>
        </p>
        <% if @product.auction_end_time > Time.now %>
          <%= form_with(model: [@product, Bid.new], url: create_bid_product_path(@product), method: :post) do |f| %>
            <div class="form-group">
              <%= f.label :amount, 'Bid Amount' %>
              <%= f.number_field :amount, class: 'form-control' %>
            </div>
            <%= f.submit 'Place Bid', class: 'bid-button' %>
          <% end %>
        <% end %>
      <% else %>
        <!-- Display Buy Now Price -->
        <p class="product-detail-price">
          Buy Now Price: <%= number_to_currency(@product.price) %>
        </p>
        <%= button_to 'Add to Cart', cart_items_path(product_id: @product.id), method: :post, class: 'purchase-button' %>
      <% end %>
      <%= button_to 'Add to Favorites', add_to_favorites_product_path(@product), method: :post, class: "favorite-button" %>
      <%= button_to 'Message Seller', message_seller_product_path(@product), method: :post, class: "message-seller-button" %>
      <% if current_user&.admin? %>
        <%= button_to 'Delete Product', destroy_product_product_path(@product), method: :delete, class: "delete-button"%>
      <% end %>

      <% if current_user == @product.user %>
        <% if @product.is_promoted %>
          <%= button_to 'Unpromote this Product', unpromote_product_path(@product), method: :delete, class: 'unpromote-button' %>
        <% else %>
          <%= button_to 'Promote this Product', promote_product_path(@product), method: :post, class: 'promote-button' %>
        <% end %>
      <% end %>
    </div>

    <div class="product-detail-description">
      <p><%= @product.description %></p>
    </div>

    <div class="product-listings">
      <h2>Related Products</h2>
      <div class="related-products-container">
        <% @related_products.each do |product| %>
          <div class="listing">
            <h3><%= link_to product.title, product_path(product) %></h3>
            <p><%= product.description %></p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="review-form">
      <h2>Write a Review</h2>
      <%= form_with model: [@product, @review || Review.new], local: true do |f| %>
        <div class="form-group">
          <%= f.label :rating, 'Rating (1 to 5)' %>
          <%= f.number_field :rating, in: 1..5, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :comment, 'Comment' %>
          <%= f.text_area :comment, class: 'form-control' %>
        </div>
        <% if current_user %>
          <%= f.submit "Submit Review", class: 'submit-review-button' %>
        <% else %>
          <p>You must be logged in to submit a review.</p>
        <% end %>
      <% end %>
    </div>

    <div class="product-detail-reviews">
      <h2>Reviews</h2>
      <% @reviews.each do |review| %>
        <div class="review">
          <p><strong>Rating:</strong> <%= review.rating %></p>
          <p><strong>Review:</strong> <%= review.comment %></p>
          <p><strong>Written by:</strong> <%= review.reviewer.name %></p>
          <% if current_user == review.reviewer && review.persisted? %>
            <%= button_to 'Delete Review', product_review_path(@product, review), method: :delete, class: 'delete-review-button', data: { confirm: 'Are you sure you want to delete this review?' } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>