<!DOCTYPE html>
<html>
<head>
  <title>Team 3 Market Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'products', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'cart', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'orders', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'favorites' %>
  <%= stylesheet_link_tag 'trackings' %>
  <%= stylesheet_link_tag 'messages' %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header>
  <nav>
    <ul class="horizontal-nav">
      <li><a href="<%= root_path %>">Home</a></li>

      <li>
        <%= form_with(url: search_products_path, method: :get, local: true, id: "nav-search-form") do |form| %>
          <%= form.search_field :query, placeholder: "Search for products...", aria_label: "Search", class: "nav-search-field" %>
          <button class="nav-search-button">Search</button>
        <% end %>
      </li>

      <li><a href="<%= categories_path %>">Categories</a></li>
      <li><a href="<%= listings_path %>">Create Listing</a></li>

      <li>
        <%= link_to cart_path do %>
          <%= image_tag("cart_icon.png", alt: "Cart", class: "cart-nav-icon") %>
          <span class="nav-label">Cart</span>
        <% end %>
      </li>

      <li>
        <%= link_to favorites_path do %>
          <%= image_tag("favorites_icon.png", alt: "Favorites", class: "favorite-nav-icon") %>
          <span class="nav-label">Favorites</span>
        <% end %>
      </li>

      <li>
        <%= link_to messages_path do %>
          <%= image_tag("messaging_icon.png", alt: "Messages", class: "message-nav-icon") %>
          <span class="nav-label">Messages</span>
        <% end %>
      </li>

      <li>
        <%= link_to profile_path do %>
          <%= image_tag("profile_icon.png", alt: "Profile", class: "profile-nav-icon") %>
          <span class="nav-label">Profile</span>
        <% end %>
      </li>

      <% if current_user %>
        <li>
          <%= link_to "Logout", logout_path, method: :delete, data: { turbo_method: :delete } %>
        </li>
      <% else %>
        <li>
          <%= link_to "Login", login_path %>
        </li>
        <li>
          <%= link_to "Sign Up", new_registration_path %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>

<% if flash[:notice] %>
  <div class="flash notice"><%= flash[:notice] %></div>
<% elsif flash[:alert] %>
  <div class="flash alert"><%= flash[:alert] %></div>
<% end %>

<%= yield %>
</body>
</html>

