<!DOCTYPE html>
<html>
<head>
  <title>Team 3 Market Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'products', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'cart', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>

<body>
<% if flash[:notice] %>
  <div class="flash notice"><%= flash[:notice] %></div>
<% elsif flash[:alert] %>
  <div class="flash alert"><%= flash[:alert] %></div>
<% end %>

<header>
  <!-- Navigation bar -->
  <nav>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Categories', categories_path %>
    <%= link_to 'Search', search_path %>

    <% if current_user %>
      <%= link_to 'Logout', logout_path, method: :delete, data: { turbo_method: :delete }, class: 'nav-link' %>
      <%= image_tag('profile_icon.png', alt: 'Profile', class: 'profile-icon') %>
    <% else %>
      <%= link_to 'Login', login_path, class: 'nav-link' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
    <% end %>
  </nav>
</header>

<%= yield %>
</body>
</html>

